.table-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.table-content {
  /* padding: 10px; */
  width: 850px;
}

.table-content td,
.table-content tr {
  border: 1px solid #707070;
  padding: 7px;
}

.table-content th {
  border: 2px solid #adadad;
  padding: 10px;
  text-transform: uppercase;
}

.table-container + button {
  margin: 10px auto;
  width: 100px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  border: 1px solid #fff;
  background: #ff6060;
  color: #fff;
}
